<table>
  <tr>
	<td>
  	  <%= f.collection_select(:agency_id,Agency.all,:id,:name,{ :prompt => true }) %>
    </td>
	<td width="10"></td>
    <td>
  	  <%= f.text_field :staff_contact, :label=>"Staff Contact" %>
	<td>
  </tr>
</table>
