
<% form_for([@client,@assigned_agency]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'assigned_agencies/form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'} if request.xhr? %>
  </p>
<% end %>

