
<p>
  <b>Agency:</b>
  <%=h @assigned_agency.agency.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @assigned_agency.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @assigned_agency.end_date %>
</p>

