
<p>
  <b>Agency:</b>
  <%=h @assigned_agency.agency.name %>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @assigned_agency.updated_at.strftime("%m/%d/%Y") unless @assigned_agency.updated_at.nil? %>
</p>

<p>
  <b>Modified By:</b>
  <%=h User.find(@assigned_agency.updater_id).name unless @assigned_agency.updater_id.nil? %>
</p>

<br/>
