<table>
  <tr>
	<td>
	  <%= f.label :phone_number %><br />
	  <%= f.text_field :phone_number %>
	</td>
	<td>
	  <%= f.label :primary_ind, "Primary" %><br />
	  <%= f.check_box :primary_ind %>
	</td>
  </tr>
</table>
