
<% form_for([@client,@phone]) do |f| %>

  <%= render :partial=>'phones/form', :locals=>{ :f => f } %>
  <p>
    <%= f.submit 'Update' unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'} if request.xhr?%>
  </p>
<% end %>

<br/>