<p>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.text_field :type_name, :label=>"Internal Type Name" %>
</p>
<p>
  <%= f.collection_select :status_type_id, StatusType.find_all_by_category('Resource'), :id, :name, :include_blank=>true, :label=>"Associated Status Type" %>
</p>