<% form_for(@incarceration_length) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.text_field :list_order, :size=>"4", :maxlength=>"2" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<br />