
<p>
  <b>Company:</b>
  <%=h @job_interview.company.name unless @job_interview.company.nil? %>
</p>

<p>
  <b>Interview Date:</b>
  <%=h @job_interview.interview_date.strftime("%m/%d/%Y") unless @job_interview.interview_date.nil? %>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @job_interview.updated_at.strftime("%m/%d/%Y") unless @job_interview.updated_at.nil? %>
</p>

<p>
  <b>Modified By:</b>
  <%=h User.find(@job_interview.updater_id).name unless @job_interview.updater_id.nil? %>
</p>

<br/>