
<% form_for(@scheduled_course) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>"/scheduled_courses/form", :locals=>{ :f => f } %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<br/>