<p>
	Reports will be developed as needed.  
	A sample report is available showing the number of new jobs created, 
	jobs retained, and jobs lost broken down in the last 3 months, 
	6 months, and since records began.
</p>