
<% form_for([@client, @registered_class]) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'registered_classes/form', :locals => { :f => f } %>
  <p>
	<%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr?%>
  </p>
<% end %>

<br/>