<% @profile.password = @profile.password_confirmation = nil %>

<% form_for @profile, :url=>{:controller=>"profiles",:action=>"update"} do |f| %>

	<%= render :partial=>"/users/form",:locals=>{:f => f} %>

	<p><%= submit_tag 'Update' %></p>
<% end %>
