
<% form_for([@client,@job_application]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'job_applications/form', :locals=>{ :f => f } %>
  <p>
    <%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr?%>
  </p>
<% end %>

<br/>