<p>
  <b>Company:</b>
  <%=h @job_application.company.name %>
</p>

<p>
  <b>Application Date:</b>
  <%=h @job_application.application_date %>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @job_application.updated_at.strftime("%m/%d/%y") unless @job_application.updated_at.nil? %>
</p>

<p>
  <b>Modified by:</b>
  <%=h User.find(@job_application.updater_id).name unless @job_application.updater_id.nil? %>
</p>

<br/>