<tr>
  <td class="fieldData">
	<%=h alert.contact_date.strftime("%m/%d/%y") unless alert.contact_date.nil? %>&nbsp;(<%=h User.find(alert.updater_id).name unless alert.updater_id.nil? %>)&nbsp;-&nbsp;<%=h alert.note %>&nbsp;&nbsp;
	<%= link_to_remote 'remove alert', :url=>client_contact_path(@client,alert), :with=>"'contact[alert]=false'", :method=>:put %>
	
  </td>
</tr>
