
<div class="banner">
	<% sections.each do |item| %>
	  <% section, display_name = item[0], item[1]%>
		<% if section == session[section_key] %>
			<div id="<%= section %>" class="caption"><%= link_to_remote display_name, :url=>{:controller=>"/reports/#{section}", :id=>@client.id}, :update=>"#{section_content}",:method=>:get %></div>
		<% else %>
			<div class="caption"><div id="<%= section %>" class="inactive"><%= link_to_remote display_name, :url=>{:controller=>"/reports/#{section}", :id=>@client.id}, :update=>"#{section_content}",:method=>:get %></div></div>
		<% end %>
		<div class="tabspacer">&nbsp;</div>
	<% end %>
</div>


