<div id="header">
	<div id="login_bar">
	<%= render 'users/user_bar' %>
	</div>
	
	<a href="<%= url_for :controller=>'home', :action=>'index' %>">
	  <span class="headerTitleStatement">
		St. Joseph the Worker
	  </span>
	</a>
	<div class="headerEmploymentStatement">
		<% if controller.controller_name == "sessions" %>
		  Log In&nbsp;-
		<% else %>
		  <% unless controller.controller_name == "home" %>
		    <%= controller.controller_name.singularize.titleize %> List&nbsp;-
		  <% end %>	
		<% end %>
		Phoenix, Arizona
	</div>
</div>
