<div class="photoImage floatLeft">
	<div id="client-image">
		<% unless @client.pictures.empty? %>
			<% image_url=@client.pictures.first.photo.url %>
			<% link_url = edit_client_picture_path(@client,@client.pictures.first) %>
		<% else %>
			<% image_url='defaultphoto.gif' %>
			<% link_url = new_client_picture_path(@client) %>
		<% end %>
		<%= link_to_remote image_tag(image_url, :width=>"50"), :url=>link_url, :update=>'contacts-content', :method=>:get %>
	</div>
</div>