
<% form_for(@client) do |f| %>
  <%= render :partial=>'clients/form', :locals=>{ :f => f }%>
  <table>
	<tr>
		<td>
		    <%= f.submit 'Update' unless request.xhr? %>
			<%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'}, :update=>'client-content' if request.xhr? %>
		</td>
	</tr>
  </table>

<% end %>

<br/>