
<% form_for(@agency) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_select(:agency_type_id,AgencyType.all,:id,:name, :label=>"Agency Type") %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

