
<% form_for(@agency) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_select(:agency_type_id,AgencyType.all,:id,:name, :label=>"Agency Type") %>
  </p>
  <p>
    <%= f.submit 'Create' %>
	<%= submit_to_remote 'update_ajax_btn', 'Ajax Create', :url=>{:action=>'create'} %>
  </p>
<% end %>
