
<br/>

<table>
  <tr>
    <td class="fieldLabel">Type</td>
    <td width="10"></td>
    <td class="fieldLabel">Date</td>
    <td width="10"></td>
    <td class="fieldLabel" style="text-align: center;">Negative</td>
    <td width="10"></td>
    <td class="fieldLabel" style="text-align: center;">Alert</td>
    <td width="10"></td>
	<td class="fieldLabel" align="left">Note</td>
    <td width="10"></td>
  </tr>

<%= render :partial=>'contacts/contact', :collection=>@client.contacts.take(session[:show_all_contacts]==1 ? @client.contacts.length : @current_user.sub_page_limit) %>

<% if @client.contacts.empty? %>
  <tr>
  	<td colspan="10" class="fieldData">No Contacts</td>
  </tr>
<% elsif session[:show_all_contacts]==0 or session[:show_all_contacts].nil? %>
  <tr>
	<td colspan="10" class="fieldData">
		<%= link_to_remote 'More...', :url=>client_contacts_path(@client), :with => "'show_all_contacts=true'", :update=>'contacts-element', :method=>:get %>
	</td>
  </tr>
<% elsif session[:show_all_contacts]==1 %>
  <tr>
	<td colspan="10" class="fieldData">
		<%= link_to_remote 'Less...', :url=>client_contacts_path(@client), :with => "'show_all_contacts=false'", :update=>'contacts-element', :method=>:get %>
	</td>
  </tr>
<% end %>
</table>
<br />
