
<% form_for([@client,@contact]) do |f| %>
  
  <%= render :partial=>'contacts/form', :locals=>{:f=>f} %>
  <p>
    <%= f.submit 'Update'  unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'} if request.xhr?%>
  </p>
<% end %>


<!-- show all contacts/encounters even if currently being edited -->
<%= render :partial=>'contacts/index' %>
