
<% form_for([@client,@contact]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'contacts/form', :locals=>{:f=>f} %>
  <p>
    <%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'update_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr? %>
  </p>
<% end %>
