
<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @company.description %>
</p>

<p>
  <b>Allow Felony:</b>
  <%=h @company.allow_felony %>
</p>

<p>
  <b>Allow Sex Offender:</b>
  <%=h @company.allow_sex_offender %>
</p>

