
<% form_for(@contact_type) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.check_box :default_selection, :label=>"New Client Default" %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
