
<% form_for([@client,@crime_sentence]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'crime_sentences/form', :locals=>{ :f => f } %>
  <p>
    <%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'create_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr?%>
  </p>
<% end %>
