
<% form_for(@picture, :url => client_pictures_path(@client, :format=>'js'), :html=>{:method=>:post, :multipart=>true, :target=>'upload_frame'}) do |f| %>

  <p>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<iframe id="upload_frame" name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>

<br/>