<table>
  <tr>
	<td>
  	  <%= f.collection_select(:substance_id,Substance.all,:id,:name,{:prompt=>true}) %>
    </td>
	<td width="10"></td>
    <td>
  	  <%= f.calendar_date_select :sober_date, :include_blank=>true, :label=>"Sober Since" %>
	</td>
  </tr>
</table>
