
<% form_for([@client,@used_substance]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'used_substances/form', :locals => { :f => f }%>
  <p>
    <%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'create_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr?%>
  </p>
<% end %>

<br/>