<% form_for(@prison) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.text_field :county %>
  </p>
  <p>
	<%= f.check_box :out_of_state %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<br />