<% form_for(@education) do |f| %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.text_field :list_order %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<br />