
<%= render :partial=>'shared/client_report_banner', :locals => {:section_key=>:client_report_section, :section_content=>'client-report-content', :sections=>[["job_leads","Job Leads Report"]]} %>
<div id="client-report-element-errors"></div>
<div id="client-report-element">
  <%= yield %>
</div>
