
<%= render :partial=>'shared/section_banner', :locals => {:section_key=>:infamy_section, :section_content=>'infamy-content', :sections=>[["assigned_agencies","Assigned Agencies"],["used_substances","Used Substances"],["crime_sentences","Crime Sentences"]]} %>
<div id="infamy-element">
  <%= yield %>
</div>