
<%= render :partial=>'shared/section_banner', :locals => {:section_key=>:jobs_section, :section_content=>'jobs-content', :sections=>[["jobs","Jobs"], ["app_interviews","Apps/Interviews"], ["registered_classes","Registered Classes"], ["assigned_resources","Assigned Resources"]] } %>
<div id="jobs-element">
  <%= yield %>
</div>